<main class="main-wrap">
    <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                </div>
            </form>
        </div>
        <div class="col-nav">
            <ul class="nav">
                <a class="btn btn-danger ms-auto me-3" href="/admin/logout">
                    <i class="material-icons md-exit_to_app"></i>Logout
                </a>
            </ul>
        </div>

        <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">

    </header>
